{% extends 'base.html' %}
{% block content %}
      
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="txt/css" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            {% csrf_token %}
            <div class="card-body">
                      {%for surveys in survey%}       
              <h5 class="card-title text-center"></h5>
              {{surveys}}
              <form class="form-signin">
                
                <div class="form-label-group">
                  
                  <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                  <label for="inputUserame">Iltimos javobingizni yozing</label>
                <hr class=my-4>
                {%endfor%}
                <button class="btn btn-lg btn-primary btn-block text-uppercase button" type="submit">Saqlash</button>             
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>




              
    {% endblock %}
  </body>